//
   Created with JetBrains WebStorm.
   User: yujilong
   Date: 14-2-7
   Time: 下午5:53
   To change this template use File | Settings | File Templates.
html
    head
        meta(charset='utf-8')
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        title baords管理页面
        link(href='/stylesheets/common.css',rel='stylesheet')
        link(href='/stylesheets/categorylist.css',rel='stylesheet')
        link(href='/plugs/bootstrap-3.0.3/bootstrap.min.css',rel='stylesheet')
        link(href='/plugs/bootstrap-3.0.3/bootstrap-theme.min.css',rel='stylesheet')
        script(type='text/javascript',src='/javascripts/require.js',data-main='/boardlist')
        include requireConfig
    body
        include nav
        div.container
            ol.breadcrumb
                li
                    a(href='/burning/cms/getCategorylist') 应用
                li
                    |#{categoryName}
                li.active
                    |期刊管理
        div.container.operating
            button.btn.btn-primary.btn-sm(data-toggle='modal',data-target='#createBox') Create Board
        div.container
            div.row
                each b in boards
                    div.col-md-4.col-sm-6
                        div.thumbnail
                            if b.imgUrl
                                img.board-font-pic(src="#{b.imgUrl}",width=500)
                            else

                            div.caption.text-center
                                h3
                                    |期刊名称：
                                    a(href="/burning/cms/getPostList/#{categoryId}/#{b._id}/1")= b.name
                                span ID：#{b._id}
                                br
                                span 创建日期： #{b.createDate}
                                br
                                span 当前状态：
                                    if (b.status == 1)
                                        |已发布(客户端可见)
                                    else
                                        |未发布(客户端不可见)
                                div.center-block.text-center
                                    a.btn.btn-primary.btn-sm.board-update(data-target='#updateBox',data-toggle='modal',data-board-id='#{b._id}',data-category-id='#{categoryId}',data-board-name='#{b.name}') 编辑
                                    a.btn.btn-warning.btn-sm.board-del(data-board-id='#{b._id}',data-category-id='#{categoryId}') 删除
                                div.center-block.text-center
                                    div(style="margin:3px;").btn-group
                                        button.btn.btn-sm.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown")
                                            |移动板块
                                            span.caret
                                        ul.dropdown-menu
                                            each cate in categoryMenu
                                                li
                                                    a.change-category(href="###",data-to-category-id='#{cate._id}',data-from-category-id="#{categoryId}",data-board-id="#{b._id}") #{cate.name}
                                    div(style="margin:3px;").btn-group
                                        button.btn.btn-sm.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown")
                                            |更改状态
                                            span.caret
                                        ul.dropdown-menu
                                            each cate in categoryMenu
                                                li
                                                    a.change-status(href="###",data-status='1',data-board-id="#{b._id}",data-category-id="#{categoryId}") 发布上线
                                                li
                                                    a.change-status(href="###",data-status='0',data-board-id="#{b._id}",data-category-id="#{categoryId}") 下线



    //
               增加box
        div#createBox.modal.createBox.fade(role="dialog",aria-hidden='true',aria-labelledby="myModalLabel")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(data-dismiss="modal",aria-hidden="true") &times;
                        h4.modal-title Create Board
                    div.modal-body
                        form(role="form")
                            div.form-group
                                label(for="boardName") Board Name
                                input(type="text",class="form-control",name="boardName",placeholder="Enter baord name")
                            div.modal-footer
                                button.btn-primary.btn.btn-sm.submit(data-category-id='#{categoryId}') 确定
                                button.btn-warning.btn.btn-sm(data-dismiss="modal",aria-hidden="true") 取消
        //
            修改box
        div#updateBox.modal.createBox.fade(role="dialog",aria-hidden='true',aria-labelledby="myModalLabel")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(data-dismiss="modal",aria-hidden="true") &times;
                        h4.modal-title Update Board
                    div.modal-body
                        form(role="form")
                            div.form-group
                                label(for="categoryName") Board Name
                                input(type="text",class="form-control",name="boardName",placeholder="Enter category name")
                                input.hide(type='text',name='categoryId')
                                input.hide(type='text',name='boardId')
                    div.modal-footer
                        button.btn-primary.btn.btn-sm.submit 确定
                        button.btn-warning.btn.btn-sm(data-dismiss="modal",aria-hidden="true") 取消